target
bin
.metadata
/com.github.eclipsecolortheme.updatesite/artifacts.jar
/com.github.eclipsecolortheme.updatesite/content.jar
/com.github.eclipsecolortheme.updatesite/features
/com.github.eclipsecolortheme.updatesite/plugins
