<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Color Theme"
            class="com.github.fhd.eclipsecolortheme.preferences.ColorThemePreferencePage"
            id="com.github.fhd.eclipsecolortheme.preferences.ColorThemePreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.github.fhd.eclipsecolortheme.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
