<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.github.eclipsecolortheme.mapper" name="Editor Mapping" schema="schema/com.github.eclipsecolortheme.mapper.exsd"/>
   <extension-point id="com.github.eclipsecolortheme.theme" name="Eclipse Color Theme" schema="schema/com.github.eclipsecolortheme.theme.exsd"/>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Views"
            class="com.github.eclipsecolortheme.preferences.ColorThemePreferencePage"
            id="com.github.eclipsecolortheme.preferences.ColorThemePreferencePage"
            name="Color Theme">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.github.eclipsecolortheme.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="com.github.eclipsecolortheme.mapper">
      <mapper
            class="com.github.eclipsecolortheme.mapper.GenericMapper"
            name="Make"
            pluginId="org.eclipse.cdt.make.ui"
            xml="mappings/org.eclipse.cdt.make.ui.xml">
      </mapper>
      <mapper
            class="com.github.eclipsecolortheme.mapper.GenericMapper"
            name="Ant"
            pluginId="org.eclipse.ant.ui"
            xml="mappings/org.eclipse.ant.ui.xml">
      </mapper>
      <mapper
            class="com.github.eclipsecolortheme.mapper.CEditorMapper"
            name="C"
            pluginId="org.eclipse.cdt.ui"
            xml="mappings/org.eclipse.cdt.ui.xml">
      </mapper>
      <mapper
            class="com.github.eclipsecolortheme.mapper.SqlEditorMapper"
            name="SQL"
            pluginId="org.eclipse.datatools.sqltools.sqleditor"
            xml="mappings/org.eclipse.datatools.sqltools.sqleditor.xml">
      </mapper>
      <mapper
            class="com.github.eclipsecolortheme.mapper.GenericMapper"
            name="Java"
            pluginId="org.eclipse.jdt.ui"
            xml="mappings/org.eclipse.jdt.ui.xml">
      </mapper>
      <mapper
            class="com.github.eclipsecolortheme.mapper.WebEditorMapper"
            name="JSP"
            pluginId="org.eclipse.jst.jsp.ui"
            xml="mappings/org.eclipse.jst.jsp.ui.xml">
      </mapper>
      <mapper
            class="com.github.eclipsecolortheme.mapper.WebEditorMapper"
            name="PHP"
            pluginId="org.eclipse.php.ui"
            xml="mappings/org.eclipse.php.ui.xml">
      </mapper>
      <mapper
            class="com.github.eclipsecolortheme.mapper.GenericMapper"
            name="Puppet Geppetto"
            pluginId="org.cloudsmith.geppetto.pp.dsl.PP"
            xml="mappings/org.cloudsmith.geppetto.pp.dsl.PP.xml">
      </mapper>
      <mapper
            class="com.github.eclipsecolortheme.mapper.TextEditorMapper"
            name="Text"
            pluginId="org.eclipse.ui.editors"
            xml="mappings/org.eclipse.ui.editors.xml">
      </mapper>
      <mapper
            class="com.github.eclipsecolortheme.mapper.WebEditorMapper"
            name="CSS"
            pluginId="org.eclipse.wst.css.ui"
            xml="mappings/org.eclipse.wst.css.ui.xml">
      </mapper>
      <mapper
            class="com.github.eclipsecolortheme.mapper.WebEditorMapper"
            name="HTML"
            pluginId="org.eclipse.wst.html.ui"
            xml="mappings/org.eclipse.wst.html.ui.xml">
      </mapper>
      <mapper
            class="com.github.eclipsecolortheme.mapper.GenericMapper"
            name="JavaScript"
            pluginId="org.eclipse.wst.jsdt.ui"
            xml="mappings/org.eclipse.wst.jsdt.ui.xml">
      </mapper>
      <mapper
            class="com.github.eclipsecolortheme.mapper.WebEditorMapper"
            name="XML"
            pluginId="org.eclipse.wst.xml.ui"
            xml="mappings/org.eclipse.wst.xml.ui.xml">
      </mapper>
      <mapper
            class="com.github.eclipsecolortheme.mapper.ErlangEditorMapper"
            name="Erlang"
            pluginId="org.erlide.ui"
            xml="mappings/org.erlide.ui.xml">
      </mapper>
      <mapper
            class="com.github.eclipsecolortheme.mapper.PythonEditorMapper"
            name="Python"
            pluginId="org.python.pydev"
            xml="mappings/org.python.pydev.xml">
      </mapper>
      <mapper
            class="com.github.eclipsecolortheme.mapper.PerlEditorMapper"
            name="Perl"
            pluginId="org.epic.perleditor"
            xml="mappings/org.epic.perleditor.xml">
      </mapper>
      <mapper
            class="com.github.eclipsecolortheme.mapper.GroovyEditorMapper"
            name="Groovy"
            pluginId="org.codehaus.groovy.eclipse.ui"
            xml="mappings/org.codehaus.groovy.eclipse.ui.xml">
      </mapper>
      <mapper
            class="com.github.eclipsecolortheme.mapper.FlashEditorMapper"
            name="ActionScript/MXML (FDT)"
            pluginId="com.powerflasher.fdt.ui"
            xml="mappings/com.powerflasher.fdt.ui.xml">
      </mapper>
      <mapper
            class="com.github.eclipsecolortheme.mapper.FlashBuilderEditorMapper"
            name="ActionScript (Flash Builder)"
            pluginId="com.adobe.flexide.as.core"
            xml="mappings/com.adobe.flexide.as.core.xml">
      </mapper>
      <mapper
            class="com.github.eclipsecolortheme.mapper.FlashBuilderEditorMapper"
            name="MXML (Flash Builder)"
            pluginId="com.adobe.flexide.mxml.core"
            xml="mappings/com.adobe.flexide.mxml.core.xml">
      </mapper>
      <mapper
            class="com.github.eclipsecolortheme.mapper.FlashBuilderEditorMapper"
            name="CSS (Flash Builder)"
            pluginId="com.adobe.flexide.css.core"
            xml="mappings/com.adobe.flexide.css.core.xml">
      </mapper>

   <mapper
         class="com.github.eclipsecolortheme.mapper.GenericMapper"
         name="Scala"
         pluginId="org.scala-ide.sdt.core"
         xml="mappings/org.scala-ide.sdt.core.xml">
   </mapper>
   <mapper
         class="com.github.eclipsecolortheme.mapper.GenericMapper"
         name="FreeMarker"
         pluginId="org.jboss.ide.eclipse.freemarker"
         xml="mappings/org.jboss.ide.eclipse.freemarker.xml">
   </mapper>
   <mapper
         class="com.github.eclipsecolortheme.mapper.DltkEditorMapper"
         name="Ruby"
         pluginId="org.eclipse.dltk.ruby.ui"
         xml="mappings/org.eclipse.dltk.ruby.ui.xml">
   </mapper>
   <mapper
         class="com.github.eclipsecolortheme.mapper.GenericMapper"
         name="PDE"
         pluginId="org.eclipse.pde.ui"
         xml="mappings/org.eclipse.pde.ui.xml">
   </mapper>
   <mapper
         class="com.github.eclipsecolortheme.mapper.GenericMapper"
         name="CFML"
         pluginId="org.cfeclipse.cfml"
         xml="mappings/org.cfeclipse.cfml.xml">
   </mapper>
   <mapper
         class="com.github.eclipsecolortheme.mapper.DltkEditorMapper"
         name="TCL"
         pluginId="org.eclipse.dltk.tcl.ui"
         xml="mappings/org.eclipse.dltk.tcl.ui.xml">
   </mapper>
   <mapper
         class="com.github.eclipsecolortheme.mapper.TexlipseEditorMapper"
         name="LaTeX"
         pluginId="net.sourceforge.texlipse"
         xml="mappings/net.sourceforge.texclipse.xml">
   </mapper>
   <mapper
         class="com.github.eclipsecolortheme.mapper.StatetBaseEditorMapper"
         name="StatET"
         pluginId="de.walware.statet.base.ui"
         xml="mappings/de.walware.statet.base.ui.xml">
   </mapper>
   <mapper
         class="com.github.eclipsecolortheme.mapper.StatetEditorMapper"
         name="R"
         pluginId="de.walware.statet.r.ui"
         xml="mappings/de.walware.statet.r.ui.xml">
   </mapper>
   <mapper
         class="com.github.eclipsecolortheme.mapper.GenericMapper"
         name="haXe (eclihx)"
         pluginId="eclihx.ui"
         xml="mappings/eclihx.ui.xml">
   </mapper>
   <mapper
         class="com.github.eclipsecolortheme.mapper.ClojureMapper"
         name="Clojure"
         pluginId="ccw.core"
         xml="mappings/ccw.core.xml">
   </mapper>
   <mapper
         class="com.github.eclipsecolortheme.mapper.GenericMapper"
         name="Go"
         pluginId="goclipse"
         xml="mappings/goclipse.xml">
   </mapper>
   <mapper
         class="com.github.eclipsecolortheme.mapper.WebEditorMapper"
         name="Twig"
         pluginId="com.dubture.twig.ui"
         xml="mappings/com.dubture.twig.ui.xml">
   </mapper>
   <mapper
         class="com.github.eclipsecolortheme.mapper.GenericMapper"
         name="Json"
         pluginId="org.sourceforge.jsonedit.core"
         xml="mappings/org.sourceforge.jsonedit.core.xml">
   </mapper>
   <mapper
         class="com.github.eclipsecolortheme.mapper.GenericMapper"
         name="Yaml"
         pluginId="org.dadacoalition.yedit"
         xml="mappings/org.dadacoalition.yedit.xml">
   </mapper>
   <mapper
         class="com.github.eclipsecolortheme.mapper.GenericMapper"
         name="Xtend"
         pluginId="org.eclipse.xtend.core.Xtend"
         xml="mappings/org.eclipse.xtend.ide.xml">
   </mapper>
   </extension>
   <extension
         point="com.github.eclipsecolortheme.theme">
      <theme
            file="themes/black-pastel.xml">
      </theme>
      <theme
            file="themes/frontenddev.xml">
      </theme>
      <theme
            file="themes/gedit-original-oblivion.xml">
      </theme>
      <theme
            file="themes/havenjark.xml">
      </theme>
      <theme
            file="themes/inkpot.xml">
      </theme>
      <theme
            file="themes/minimal.xml">
      </theme>
      <theme
            file="themes/mr.xml">
      </theme>
      <theme
            file="themes/nightlion-aptana-theme.xml">
      </theme>
      <theme
            file="themes/notepad++-like.xml">
      </theme>
      <theme
            file="themes/oblivion.xml">
      </theme>
      <theme
            file="themes/obsidian.xml">
      </theme>
      <theme
            file="themes/pastel.xml">
      </theme>
      <theme
            file="themes/recogneyes.xml">
      </theme>
      <theme
            file="themes/schuss.xml">
      </theme>
      <theme
            file="themes/sublime-text-2.xml">
      </theme>
      <theme
            file="themes/tango.xml">
      </theme>
      <theme
            file="themes/vibrantink.xml">
      </theme>
      <theme
            file="themes/wombat.xml">
      </theme>
      <theme
            file="themes/zenburn.xml">
      </theme>
      <theme
            file="themes/monokai.xml">
      </theme>
      <theme
            file="themes/roboticket.xml">
      </theme>
      <theme
            file="themes/sunburst.xml">
      </theme>
      <theme
            file="themes/retta.xml">
      </theme>
   </extension>

</plugin>
